header {
    background-color: #333;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    text-align-last: center;
    margin: 0px;
}
body {
    background-image: url('dirt.jpg');
    background-attachment: fixed;
    margin: 0px;
    padding: 0px;
    
}
h1 {
    margin-top: 0px;
    padding-top: 25px;
    font-size: 45pt;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li .a1 {
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
}
li .a1:hover {
    background-color: #145c14;
    color: white;
    image-rendering: initial;
}
li {
    float: right;
}
.a1 {
    display: block;
    padding: 8px;
    background-color: #333;
    font-size: 14pt;
}
h1 #headerlink{
    text-decoration: none;
    color: white;
}
.icons {
    width: 40px;
    height: 40px;
}
.icons2 {
    width: 60px;
    height: 60px;
}
#articolo{
    text-align: center;
    width: 1000px;
    margin: auto;
    font-size: 16pt;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
}
#verde{
    background-color: #209220;
}
#verde:hover{
    background-color: #145c14;
}
#caw {
    margin: auto;
    width: 100%;
}
